<footer class="page__footer">
  <div class="office-image"></div>
  <div class="container">
    <section class="contact">
      <h1 class="contact__heading">Get in Touch</h1>
      <a class="contact__office active" href="#">new york</a>
      <a class="contact__office" href="#">los angeles</a>
      <a class="contact__office" href="#">wooster</a>
      <span class="contact__phone">1.800.999.4668</span>
      <span class="contact__address">810 7th Avenue, 29th Floor<br />New York, NY 10019</span>
      <a class="contact__email" href="mailto:info@mmt.com">info@mmt.com</a>
      <div class="social">
        <a class="social__link" href="#">
          <img src="assets/img/linkedin-icon.svg" alt="">
        </a>
        <a class="social__link" href="#">
          <img src="assets/img/facebook-icon.svg" alt="">
        </a>
        <a class="social__link" href="#">
          <img src="assets/img/twitter-icon.svg" alt="">
        </a>
        <a class="social__link" href="#">
          <img src="assets/img/instagram-icon.svg" alt="">
        </a>
        <a class="social__link" href="#">
          <img src="assets/img/youtube-icon.svg" alt="">
        </a>
      </div>
    </section>
  </div>
</footer>
<div class="copyright">
  <span>© Copyright 2017 Metromedia Technologies, Inc.</span>
</div>
