<section class="testimonials">
  <div class="container cf">
    <div class="col">
      <div class="testimonial">
        <div class="testimonial__icon">
          <img src="assets/img/quote-icon.svg" alt="">
        </div>
        <p class="testimonial__body">
          This would be some really nice and flattering text about MMT and how awesome we are!
        </p>
        <span class="testimonial__name">
          -Sally Smitherington
        </span>
      </div>
    </div>
    <div class="col">
      <div class="testimonial">
        <div class="testimonial__icon">
          <img src="assets/img/quote-icon.svg" alt="">
        </div>
        <p class="testimonial__body">
          This would be some really nice and flattering text about MMT and how awesome we are!
        </p>
        <span class="testimonial__name">
          -Sally Smitherington
        </span>
      </div>
    </div>
    <div class="col">
      <div class="testimonial">
        <div class="testimonial__icon">
          <img src="assets/img/quote-icon.svg" alt="">
        </div>
        <p class="testimonial__body">
          This would be some really nice and flattering text about MMT and how awesome we are!
        </p>
        <span class="testimonial__name">
          -Sally Smitherington
        </span>
      </div>
    </div>
  </div>
</section>
